{% extends "j2.html" %}
{% block title %}Sign in to Our Small World{% endblock %}

{% block content %}
<div class="first">
  <h3></h3>
</div>
<h2>Sign Up</h2><br>
<form method="POST" action="#">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="Email">
  </div>
  <button type="submit" class="btn btn-primary">enter</button>
</form>
<h2></h2>
<div id="results">
  <div id="results">
    <div class="category-name">Welcome, {{username}}</div>
    <div>{{message}}</div>
</div>
<div class="navbar-nav">
  {% if result %}
  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
  {% endif %}
</div>
  {% endblock %}


